.weather-map{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url("../../../public/images/sky.png");
    background-size: cover;
}
.worldMap-holder{
    width: 50%;
    position: relative;
}
.world-map{
    opacity: 0.8;
    padding-left: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 450px;
}
.default-cities{
    position: absolute;
    top: 35%;
    width: 490px;
}
.title{
    color: #fff;
    padding: 40px 40px 20px;
    font-weight: 600;
    font-size: 36px;
    position: relative;
    top: 60px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.slider{
    width: 50%;
    margin: 0;
    float: right;
    position: relative;
    top: -20px;
}
#id-4887398{
    position: absolute;
    top: -55px;
    left: 50px;
}
#id-5392171{
    position: absolute;
    top: 15px;
    left: 50px;
}
#id-3469058{
    position: absolute;
    left: 135px;
    top: 90px;
}
#id-2643743{
    position: absolute;
    left: 210px;
    top: -150px;
}
#id-611717{
    float: right;
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
}
#id-2253354{
    position: relative;
    right: 145px;
    top: 22px;
    float: right;
}
#id-186301{
    text-align: right;
    position: relative;
    top: 70px;
    right: 5px;
    float: right;
}
#id-3369157{
    position: relative;
    top: 160px;
    left: -45px;
    float: right;
}
.default-city{
    background-color: rgb(6 43 78 / 55%);
    max-width: fit-content;
    width: 100%;
    display: flex;
    text-align: center;
    color: #fff;
    padding: 0 0 0 5px;
    border: 0;
    height: 30px;
    line-height: 30px;
}
.default-city span{
    font-size: 16px;
}
.weather-icon{
    width: 50px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    text-align: center;
}
.weather-icon img{
    width: 20px;
    position: relative;
    top: 5px;
}